.box2{
    display: flex;
    align-items: flex-start;
    border: 1px black solid;
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: column;
    margin: 45px;
    height: auto;
    flex:1 1;
}
img{
    max-width: 100%;
}
.column{
    display: flex;
    flex-direction: column;
    flex-grow: 12;
}
@media screen and (min-width: 730px) {
    .box2{
        flex-direction: row;
        flex:1 1;
    }  
    .box2 img{
        max-width: 40%;
    }
    .column{
        justify-content: center;
    }
}