.box{
    display: flex;
    flex-direction: column;
    border: 1px black solid;
    text-decoration: none;
    padding: 10px;
    margin: 20px;
}
img{
    width:100%;
}
.tofit{
    display:block;
    flex-direction: column;
    align-items: center;
}
.patchinstrument{
    flex-direction: column;
}
.editdesc{
    height:50px;
}